/*------------INTERACTION-----------*/

.img {
    width: 2.2em;
    float: left;
}


/*Bron https://codepen.io/jeremyloyd/pen/EaavQb?q=log%20out&order=popularity&depth=everything&show_forks=false*/

.logout {
    font-size: 0.8em;
    font-family: "Nexa Bold", Nexa, sans-serif;
    margin-top: 1em;
    bottom: -1em;
    overflow: hidden;
    transition: opacity 0.45s;
    -webkit-transition: opacity 0.35s;
}

.button {
    text-decoration: none;
    float: right;
    padding: 0.5em;
    padding-right: 1.2em;
    color: rgba(0, 214, 108, 1);
    width: 1em;
    transition: width 0.35s;
    -webkit-transition: width 0.35s;
    overflow: hidden;
}

nav a:nth-child(3):hover {
    width: 6em;
}

nav a:nth-child(3):hover .logout {}

h2:nth-child(3) {
    margin-top: .8em;
}

footer li{
margin-right: 0em;
}



li.dancer {

    display:flex;
    flex-direction: column;

    margin:auto;
  top:1em;

    transition:all 2s;
}

li.dancing {
    transform:scale(1.5) rotate(-405deg) ;
  /height:40em

}



li > button{
font-family: "FontAwesome", sans-serif;
    align-self: center;
  font-size: 1em;
  border-style:none;
  color: #29129C;
left: 2em;
}

.wolkje {
width: 2.9em;
}



/*
.firstfooter ul {

    padding-left: 0em;
}
*/


/*
.firstfooter ul li {
width: 4em;
}
*/
