@font-face {
    font-family: FontAwesome;
    src: url(..url/FONTS/FontAwesom.otf)
}

* {
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

html,
body {
    height: 100%;
    font: 100% / 1.5 'American Typewriter';
}

body {
    display: flex;
    justify-content: center;
    font-size: 3.25em;
}

section.dancer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 2em;
    height: 2em;
    padding: 0 1em 1em;
    margin: auto;
    top: 1em;
    transition: all .5s;
    animation: 3s infinite;

}



section.dancing {
    transform: scale(1.3) rotate(-720deg);
}



section h1 {
    margin-bottom: 0;
    line-height: 1;
}

section p {
    margin-bottom: auto;
}

section > button {
    align-self: center;
    font-family: "FontAwesome", sans-serif;
    font-size: 1em;
    line-height: 1;
    border-style: none;
}



