.dropbtn {
    background-color: rgba( 0, 0, 0, 0);
    height: 1.5rem;
    border: none;
    cursor: pointer;
    border-radius: 0.3em;
    color: #29129C;
    display: flex;
    padding-left: .7em
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 30%;
    height: 1.5rem;
    background-color: white;
    border-radius: 0.3em;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100%;
    margin: 0;
    border-radius: 0em 0em .3em .3em;
    padding-bottom: .5em;
    padding-top: .5em;
}


.dropdown:hover .dropdown-content {
    visibility: visible;
    display: block;
    background-color: white;
    width: 100%;
}

.dropdown:hover .dropbtn {
    background-color: white;
    width: 100%;
    color: #29129C;
    border-radius: 0.3em .3em 0em 0em;
}

label {
    display: flex;
    font-family: "Nexa Bold", Nexa, sans-serif;
    color: #29129C;
    font-size: 0.8em;
    padding-top: .3em;
    padding-left: .3em;
}

input[type='checkbox']{
margin-right: .5em;
    margin-top: -.2em;
}



}

@media screen and ( min-width: 62em) {
    .dropdown {
        width: 20%;
    }
}

.dropbtn {
    background-color:white;
    height: 1.5rem;
    border: none;
    cursor: pointer;
    border-radius: 0.3em;
    color: #29129C;
    display: flex;
    padding-left: .7em;
    padding-right: 75%;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: white;

}


.dropdown {
    position: relative;
    display: inline-block;

    width: 30%;
    height: 1.5rem;
    background-color: white;
    border-radius: 0.3em;
    margin: 0;

}

.dropdown-content {
    overflow: auto;
    box-shadow: 0em .5em 1em 0em rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100%;
    margin: 0;
    border-radius: 0em 0em .3em .3em;
    padding-bottom: .5em;
    padding-top: .5em;

}



.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

label {
    display: flex;
    font-family: "Nexa Bold", Nexa, sans-serif;
    color: #29129C;
    font-size: 0.8em;
    padding-top: .3em;
    padding-left: .3em;
}

input[type='checkbox']{
margin-right: .5em;
    margin-top: -.2em;
}




@media screen and ( min-width: 62em) {
    .dropdown {
        width: 20%;
    }
}
